<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <title>Rick and Morty Quote Machine</title>
</head>
<body>
  <div id='box'>
    <div id='quote'>
      <i class="fa fa-quote-left fa-lg" aria-hidden="true"></i> <span id='text'></span>
    </div>
    
    <div id='author'>
      <span id='author-text'></span>
    </div>
    
    <div id='tweet' class="button">
      <i class='fa fa-twitter fa-lg'></i>
    </div>
    
    <div id='button' class="button">
      <span>New Quote</span>
    </div>
  </div>

  <div id='footer'>
    <span><a href='https://codepen.io/feocco'>by Feocco</a></span>
  </div>
  <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>
